// Imports
@import "mixins";
@import "buttons";
@import "typography";
@import "sticky_footer";


ul {

    text-align: center;
    list-style: none;
    
}

// Margin between navbar and content
body > .navbar {
    margin-bottom: 2rem; 
}

.createBlogpost{
    text-align: center;
}
