// Imports
@import "mixins";
@import "buttons";
@import "typography";
@import "sticky_footer";


ul {

    text-align: center;
    list-style: none;
    
}

// Margin between navbar and content
.container-fluid, .container {
  /* Margin top by navbar height */
  margin-top: 60px;
}

.createBlogpost{
    text-align: center;
}


.deletepost{
    float: right;
    margin: 5px;
}

.editpost{
    // display:inline-block;
     float: right;
     margin: 5px;
}
.deletelike{
    display:inline-block;
    margin: 5px;
    // float:right;
}
.likepost{
    display:inline-block;
    margin: 5px;
    // float:right;
}