// Imports
@import "mixins";
@import "buttons";
@import "typography";


ul {

    text-align: center;
    list-style: none;
    
}

.container {
  width: auto;
  max-width: 680px;
}

// Margin between navbar and content
body { 
  /* Margin top by navbar height */
  margin-top: 56px;
}
.container, .container-fluid { 
  padding: 30px 40px 0 40px;
}

.createBlogpost{
    text-align: center;
}


.deletepost{
    float: right;
    margin: 5px;
}

.editpost{
    // display:inline-block;
     float: right;
     margin: 5px;
}
.deletelike{
    display:inline-block;
    margin: 5px;
    // float:right;
}
.likepost{
    display:inline-block;
    margin: 5px;
    // float:right;
}




  .buttons {
  display: flex;
  justify-content: space-between;
  }

  .likeButton, .dislikeButton, .editButton, .deleteButton  {
    display: inline-block;
    margin: 5px 5px 5px 0;
}



.userpage {
    background-image: url("../images/workplace.jpg");
    background-color: #e0c5c4;
    height: calc(100vh - 56px);
    background-size: cover;
    
} 

.index {
    background-image: url("../images/workplace.jpg");
    background-color: #e0c5c4;
    height: calc(100vh - 56px);
    background-size: cover;
    
} 
